.hello{
    color:red;
    background: url('./icon.png');
}

div {
    border-style:solid;
    border-width:1px;
    /* padding:10px; */
}

body {
    max-width: 800px;
    width: 90%;
    margin: auto;
}
.select-tab {
    border-style:solid;
    border-width:1px;
    border-radius:4px;
}
.active-tab {
    background-color:green;
}

.title {
    font-size: 30px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-container {
    padding:50px;
}

.movie-entry {
    border-style:solid;
    border-width:1px;
    padding:10px;
    padding-left: 50px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

